---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import LinkedInIcon from "../components/icons/LInkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/Code.astro"
import Proyects from "../components/Proyects.astro";
import Hero from "@/components/Hero.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import AboutMe from "@/components/AboutMe.astro";

---

<Layout
  title="Portafolio de David Gómez - Desarrollador y programador web"
  description="Especilizado en crear aplicaciones unicas"
>

  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <Hero>
      </slot>
      </Hero>
    </SectionContainer>
    
    <!-- aca va la experiencia, como aun no tengo no coloco nada -->
    <div class="space-y-24">
      <SectionContainer id="proyectos">
        <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
          <CodeIcon class="size-7"/>
          Proyectos
        </h2>
        <Proyects/>
      </SectionContainer>
  
      <SectionContainer id="sobre-mi">
        <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
