---
const personalImageAlt = "David Gómez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo David Gómez, tengo 20 años y soy de Medellin, Colombia. Me estoy formando como Desarrollador web full-stack, sin embargo disfruto y me apasiona mucho mas el desarrollo front-end
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repudiandae placeat, eveniet cupiditate quasi modi quia
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, incidunt cupiditate illo impedit natus voluptatum excepturi veritatis non earum nobis sint eos
  </p>
  </div>
  <img src="" alt={personalImageAlt} width="200" height="200"
  class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
